html {
  width: 100%;
  background-color: #eee;
}
body {
  width: 100%;
  margin: 0;
}
button {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
select {
  color: #333;
  background: none;
  cursor: pointer;
  border: none;
  padding: 1px 0;
  border-bottom: 1px solid #333;
}
select:focus {
  padding: 0;
  border-bottom: 2px solid #333;
  outline: none;
}
a {
  text-decoration-line: none;
}
.detail-main a {
  color: #333;
  text-decoration: underline;
}
.detail-main a:hover {
  text-decoration: none;
}
a:hover,
a:focus {
  opacity: 0.7;
}
header {
  display: flex;
  flex-direction: unset;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #aaa;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}
header > a:has(img) {
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow: hidden;
}
@media (max-width: 800px) {
  header > a:has(img) {
    max-width: calc(100% - 78px);
  }
}
header > a > img {
  max-height: 60px;
  margin: auto auto auto 0;
}
header > a > img.img-pc {
  display: block;
}
header > a > img.img-sp {
  display: none;
}
@media (max-width: 800px) {
  header > a > img.img-pc {
    display: none;
  }
  header > a > img.img-sp {
    display: block;
  }
}
header > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin: auto;
}
@media (max-width: 800px) {
  header > ul {
    display: none;
  }
}
header > ul > li {
  padding: 0;
  display: flex;
  margin: auto;
}
header > ul > li > a {
  color: #333;
  padding: 10px;
  margin: 0 10px;
}
header > div#global_menu {
  display: none;
  flex-direction: column;
  margin-left: auto;
}
@media (max-width: 800px) {
  header > div#global_menu {
    display: flex;
  }
}
header > div#global_menu > label {
  width: 48px;
  height: 48px;
  padding: 10px;
  margin-left: auto;
  border-radius: 0 0 0 10px;
}
header > div#global_menu > label:hover,
header > div#global_menu > label:active {
  opacity: 0.7;
}
header > div#global_menu > label > input {
  display: none;
}
header > div#global_menu > label > span {
  display: block;
  width: 100%;
  margin: 11px 0;
  border-bottom: 2px solid #333;
}
header > div#global_menu > div {
  display: flex;
  position: fixed;
  width: 100%;
  height: calc(100% - 68px);
  top: 68px;
  right: calc(-100%);
  background: #fff;
  transition: 0.4s right;
}
header > div#global_menu:has(input:checked) > div {
  right: 0;
}
header > div#global_menu > div {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: calc(100% - 68px);
  top: 68px;
  right: calc(-100%);
  background: #fff;
  transition: 0.4s right;
}
header > div#global_menu > div > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  margin: 0;
  overflow-y: auto;
}
header > div#global_menu > div > ul > li {
  margin: 5px 0;
}
header > div#global_menu > div > ul > li > a {
  color: #333;
  padding: 10px;
  margin: 0 10px;
}
header > div#global_menu > div > p {
  color: #333;
  padding: 10px;
  margin: auto 10px 0;
  font-size: 12px;
}
h2 {
  font-size: 24px;
  color: #333;
}
h3 {
  font-size: 18px;
  color: #333;
}
main {
  max-width: 800px;
  min-height: calc(100vh - 70px - 200px - 40px);
  margin: auto;
}
@media (max-width: 600px) {
  main {
    width: calc(100% - 20px);
    padding: 10px;
  }
}
footer {
  padding: 20px;
  background-color: #333;
}
footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #333;
}
footer p {
  width: fit-content;
  margin: auto;
  font-size: 12px;
  color: #fff;
}
footer > section {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
footer > section > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: auto;
}
@media (max-width: 800px) {
  footer > section#footer_links > ul {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  footer > section > ul {
    flex-direction: column;
  }
}
footer > section > ul > li {
  display: flex;
  margin: 0 5px;
}
@media (max-width: 800px) {
  footer > section#footer_links > ul > li {
    margin: 0 auto;
  }
}
footer > section > ul > li > a {
  padding: 5px;
  font-size: 14px;
  color: #fff;
}
footer > section > ul > li > a > svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}
footer #to_top_btn {
  display: flex;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  background-color: #aaa;
  opacity: 0.7;
}
footer #to_top_btn > a {
  width: 100%;
  height: 100%;
}
footer #to_top_btn > a > svg {
  padding: 16px;
}
section#kv {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}
section#kv > div > h1 {
  color: #333;
}
section#kv > div > p {
  color: #333;
}
section#kv > img {
  margin: auto 0 auto auto;
  height: 200px;
}
.toggle-btns {
  display: flex;
  flex-direction: row;
}
.toggle-btns label {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  background-color: #eee;
  padding: 5px 10px;
  cursor: pointer;
}
.toggle-btns label:hover,
.toggle-btns label:focus {
  opacity: 0.7;
}
.toggle-btns label:first-child {
  border-radius: 5px 0 0 0;
}
.toggle-btns label:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #333;
}
.toggle-btns label:has(input:checked) {
  background-color: #fff;
}
.toggle-btns label input {
  display: none;
}
.toggle-body {
  padding: 10px;
  border: 1px solid #333;
}
.toggle-body > ul {
  display: table;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.toggle-body > ul.tiny-content-list {
  flex-direction: row;
}
.toggle-body > ul.content-list {
  flex-direction: column;
}
.content-list-notfound {
  min-height: 200px;
}
.content-list-notfound > p{
  width: fit-content;
  margin: 100px auto;
  font-size: 16px;
  color: #333;
}
.toggle-body > ul > li {
  display: inline-table;
  margin: 10px;
}
.toggle-body > ul.tiny-content-list > li {
  width: calc(50% - 23px);
}
@media (max-width: 600px) {
  .toggle-body > ul.tiny-content-list > li {
    width: calc(100% - 23px);
  }
}
.toggle-body > ul.content-list > li > a {
  max-height: 200px;
  display: flex;
  flex-direction: row;
}
.toggle-body > ul > li .content-img {
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.toggle-body > ul.tiny-content-list > li .content-img {
  width: 100%;
  height: 200px;
}
@media (max-width: 600px) {
  .toggle-body > ul.tiny-content-list > li .content-img {
    height: 160px;
  }
}
.toggle-body > ul.content-list > li .content-img {
  width: 30%;
}
.toggle-body > ul > li .content-img > img {
  width: 100%;
  height: auto;
}
.toggle-body > ul.content-list > li .content-text {
  width: 70%;
  overflow: hidden;
}
.toggle-body > ul > li h3 {
  margin: 10px;
  font-size: 16px;
  color: #333;
}
.toggle-body > ul > li p {
  margin: 10px;
  font-size: 14px;
  color: #333;
}
.toggle-body > ul > li p.content-text-date {
  color: #aaa;
}
ul.content-tags {
  padding: 0;
  margin: 0 10px;
  list-style-type: none;
  overflow: hidden;
}
ul.content-tags > li {
  display: inline-block;
  width: fit-content;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 12px;
  color: #333;
}
.tag-btns {
  padding: 10px;
}
.tag-btns label {
  display: inline-block;
  border: 1px solid #333;
  background-color: #eee;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.tag-btns label:has(input:checked) {
  background-color: #fff;
}
.tag-btns label input {
  display: none;
}
.tag-btns label p {
  font-size: 14px;
  margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}
form > label {
  display: flex;
  flex-direction: column;
}
form > label > p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}
form > label > input[type="text"],
form > label > textarea {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 5px;
  font-family: auto;
}
form > label > textarea {
  height: 300px;
  resize: none;
}
form > button {
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  background-color: #fff;
}
.detail-main {
  padding: 10px;
}
.detail-img {
  max-width: 100%;
  max-height: 400px;
  background: #fff;
  border: 1px solid #333;
}
.detail-footer {
  padding: 10px;
  margin-top: 20px;
}
ul.feedback-area {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 30px;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 20px;
}
ul.feedback-area > li {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  cursor: pointer;
}
ul.feedback-area > li:hover,
ul.feedback-area > li:active {
  opacity: 0.7;
}
ul.feedback-area > li > p {
  height: fit-content;
  margin: auto 10px;
}
.comment-area {
  margin-top: 40px;
}
.comment-area > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
.comment-area > ul > li {
  display: flex;
  flex-direction: row;
}
.comment-area .comment-area-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.comment-area .comment-area-header > h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
}
.comment-area .comment-area-header > select {
  font-size: 14px;
}
.comment-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.comment-input-body {
  width: calc(100% - 70px);
  margin-left: 20px;
}
.comment-input-body > input {
  width: 100%;
  margin: 0 0 10px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #333;
  background: none;
  font-size: 16px;
}
.comment-input-body > input:focus {
  outline: none;
  padding-bottom: 4px;
  border-bottom: 2px solid #333;
}
.comment-input-body > .comment-input-footer {
  display: flex;
  flex-direction: row;
}
.comment-input-body > .comment-input-footer > button {
  height: 30px;
  border: none;
  border-radius: 15px;
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
.comment-input-body > .comment-input-footer > button:hover,
.comment-input-body > .comment-input-footer > button:active {
  background: #33355522;
  opacity: 1.0;
}
.comment-input-body > .comment-input-footer > button:first-child {
  margin-left: auto;
}
.comment-userimg {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  background: #fff;
  border-radius: 50%;
}
.comment-userimg > img {
  max-width: 50px;
  max-height: 50px;
  margin: auto;
}
.comment-area > ul > li > .comment-body {
  margin-left: 20px;
}
.comment-area > ul > li > .comment-body > .comment-body-header {
  display: flex;
  flex-direction: row;
}
.comment-area > ul > li > .comment-body > .comment-body-header > p.comment-username {
  margin: 0;
  font-size: 12px;
}
.comment-area > ul > li > .comment-body > .comment-body-header > p.comment-date {
  margin: 0 10px;
  font-size: 12px;
  color: #888;
}
.comment-area > ul > li > .comment-body > .comment-body-body {
  margin: 5px 0;
}
.comment-area > ul > li > .comment-body > .comment-body-body > p {
  margin: 0;
  font-size: 14px;
}
.comment-area > ul > li > .comment-body > .comment-body-footer {
  margin-top: 10px;
}
.comment-area > ul > li > .comment-body > .comment-body-footer > .feedback-area {
  height: 16px;
  border: none;
  padding: 0;
}
.comment-area > ul > li > .comment-body > .comment-body-footer > .feedback-area > li {
  margin: 0 5px 0 0;
}
.comment-area > ul > li > .comment-body > .comment-body-footer > .feedback-area > li > p {
  margin: auto 5px;
  font-size: 12px;
}