<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include component/head.ejs %>
</head>

<body>
  <%- include component/header.ejs %>
  <main>
    <section id="kv">
      <div>
        <h1>お問い合わせフォーム</h1>
      </div>
    </section>
    <section>
      <div>
        <p>本作品に関するお問い合わせは、以下のGoogleフォームよりお願いいたします。</p>
        <p>バグ報告については、ゲームのスクリーンショットが無くても送信できます。参考情報として、もしあれば添付いただけると大変助かります。</p>
        <p>返信が必要な場合は、「メールアドレスなどの返信先（任意）」に返信先を記載してください。</p>
        <p>なお、迷惑行為、スパム、または本作品と関係のない内容の送信はご遠慮ください。</p>
        <button class="btn-primary" onclick="location.href='https://forms.gle/ECFbS5zRFyaoq7Uy5'">Googleフォームでお問い合わせ</button>
      </div>
    </section>
  </main>
  <%- include component/footer.ejs %>
</body>

</html>